mat-cell,
.mat-mdc-cell,
mat-footer-cell,
.mat-mdc-footer-cell,
mat-header-cell,
.mat-mdc-header-cell {
  padding: 0.75rem !important;
}

.mat-mdc-table-sticky {
  background: #e8eaf6;
  opacity: 1;
}

//.mat-column-filler {
//  padding: 0 8px;
//  font-size: 10px;
//  text-align: center;
//}
//
//.mat-header-cell,
//.mat-footer-cell,
//.mat-cell {
//  min-width: 80px;
//  box-sizing: border-box;
//  padding: 0.75rem !important;
//
//}
//
//.mat-header-row,
//.mat-footer-row,
//.mat-row {
//  min-width: 1920px;
//}
//
//@media (max-width: 1200px) {
//  .mat-header-row,
//  .mat-footer-row,
//  .mat-row {
//    min-width: 2500px;
//  }
//}
//
//@media (max-width: 992px) {
//  .mat-header-row,
//  .mat-footer-row,
//  .mat-row {
//    min-width: 3000px;
//  }
//}
//
//@media (max-width: 768px) {
//  .mat-header-row,
//  .mat-footer-row,
//  .mat-row {
//    min-width: 4000px;
//  }
//}
//
